In [2]:
def summing(n):
    if n==0:
        return 0
    return n + summing(n - 1)

for i in range(1, 11):
    recursive_sum = summing(i)

    formula_sum = (i * (i + 1)) / 2

    print(f"n = {i}, Recursive Sum = {recursive_sum}, Formula Sum = {formula_sum}")

n = 1, Recursive Sum = 1, Formula Sum = 1.0
n = 2, Recursive Sum = 3, Formula Sum = 3.0
n = 3, Recursive Sum = 6, Formula Sum = 6.0
n = 4, Recursive Sum = 10, Formula Sum = 10.0
n = 5, Recursive Sum = 15, Formula Sum = 15.0
n = 6, Recursive Sum = 21, Formula Sum = 21.0
n = 7, Recursive Sum = 28, Formula Sum = 28.0
n = 8, Recursive Sum = 36, Formula Sum = 36.0
n = 9, Recursive Sum = 45, Formula Sum = 45.0
n = 10, Recursive Sum = 55, Formula Sum = 55.0

In [6]:
import math
x=180
print(f"{math.radians(x):.3f} radians")

players=10
teams=3
ways=math.comb(players, teams)
print(f"Ways to choose {teams} players from {players}: {ways}")

3.142 radians
Ways to choose 3 players from 10: 120

In [ ]:
math.log(100, 10)

2.0

In [9]:
math.log(10,2)

3.3219280948873626

In [10]:
math.log(10)

2.302585092994046

In [12]:
math.log(10,2)

3.3219280948873626

In [ ]:

def triangle_area_heron(a, b, c):
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

side1, side2, side3 = 3, 4, 5
area = triangle_area_heron(side1, side2, side3)
print(f"Triangle Area: {area}") # Outputs 6.0

Triangle Area: 6.0

In [14]:
# Define two sets

A = {1, 2, 3, 4}

B = {3, 4, 5, 6}

 

# Set operations in action

union_set = A.union(B)            # Alternatively: A | B

intersection_set = A.intersection(B)  # Alternatively: A & B

difference_set = A.difference(B)  # Alternatively: A - B

 

print("Set A:", A)

print("Set B:", B)

print("Union:", union_set)

print("Intersection:", intersection_set)

print("Difference (A - B):", difference_set)

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}

In [22]:
#index: 0,1,2,3,4
array=[5,10,15,20,25]
array[-1]

25

In [23]:
array.append(40)

In [24]:
array.insert(0, 0)
array[0]
array.pop(0)
array

[5, 10, 15, 20, 25, 40]

In [27]:
if 40 in array:
    print(f"Yes {40} is in the array")

Yes 40 is in the array

In [31]:
#singly linked list implementation
#array=[[]10, []20, []30, []40, []50]
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def insert_front(self,data):
        new_node=Node(data)
        new_node.next = self.head
        self.head = new_node

    def print_list(self):
        current = self.head
        while current:
            print(current.data, end=" -> ")
            current = current.next
        print("None")

if __name__ == "__main__":
    ll = LinkedList()
    ll.insert_front(10)
    ll.insert_front(20)
    ll.insert_front(30)
    ll.insert_front(40)
    ll.insert_front(50)

    ll.print_list()  # Outputs: 50 -> 40 -> 30 -> 20 -> 10 -> None


class Dnone:
    def __init__(self, data):
        self.data = data
        self.prev = None
        self.next = None

50 -> 40 -> 30 -> 20 -> 10 -> None

In [30]:
#reverse list
#joining two lists
list1 = [1, 2, 3]   
list2 = [4, 5, 6]
list1.reverse()
list1.extend(list2)

print("Reversed and joined list:", list1)  # Outputs: [3, 2, 1, 4, 5, 6]

Reversed and joined list: [3, 2, 1, 4, 5, 6]

Stacks and queues

STACK-LIFO

In [35]:
stack=[]

stack.append(10)
stack.append(20)
stack.append(30)
stack.append(40)
stack.append(50)
stack[-1]

50

In [36]:
stack.pop()

50

Queue -FIF0

In [37]:
from collections import deque
queue=deque()
queue.append('A')
queue.append('B')        
queue.append('C')
print(queue.popleft())  # Outputs: 10

A

HASH TABLES

In [39]:
my_map={
    'name': 'Alice',
    'age': 30,
    'city': 'Wonderland',
    'job': 'Adventurer'
}

In [41]:
my_map['country']='Uganda'
my_map

{'name': 'Alice',
 'age': 30,
 'city': 'Wonderland',
 'job': 'Adventurer',
 'country': 'Uganda'}

In [51]:
class Hashmap:
    def __init__(self):
        self.size=size
        self.table=[[] for _ in range(size)]

    def put(self, key, value):
        h=hash(key) % self.size
        for pair in self.table[h]:
            if pair[0] == key:
                pair[1] = value #update if key already exists
                return
            

        self.table[h].append([key, value])  # Add new key-value pair

    def get(self, key):
        h = hash(key) % self.size
        for pair in self.table[h]:
            if pair[0] == key:
                return pair[1]
            
        return None
    
hm=Hashmap()
hm.put('name', 'Alice')
hm.put('age', 30)

print(hm.get('name'))  # Outputs: Alice
print(hm.get('age'))   # Outputs: 30

print(hm.get('email'))

NameError: name 'size' is not defined